h1 {
    text-align: center;
    padding: 30px;
}

.planeta {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 40px;
    padding: 20px;
    background: linear-gradient(45deg, #000, #555, #fff);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: transform 0.3s, box-shadow 0.3s;
}

.planeta .inner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    transform: translateZ(50px);
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

#planetas-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.planeta h2 {
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.planeta p {
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
}

.planeta:hover {
    transform: translateZ(0) rotateX(10deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.planeta:hover .inner-container {
    transform: translateZ(50px);
}

@media screen and (max-width:940px) {
    #planetas-container {
        display: grid;
        grid-template-columns: 1 fr 1fr;
    }
}

@media screen and (max-width:640px) {
    #planetas-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}